<%- include('partials/header') %>
<div class="hero">
<h2>Available Public Budgets</h2>
<form method="get" style="margin-top:1rem;">
<input type="text" name="q" placeholder="Search by name" value="<%= searchQuery %>">
<select name="userState">
<option value="">All States</option>
<% indianStates.forEach(state => { %>
<option value="<%= state %>" <%= userState === state ? 'selected' : '' %>><%= state %></option>
<% }) %>
</select>

<button type="submit">Filter</button>
</form>
</div>
<div class="cards">
<% budgets.forEach(budget=>{ %>
<div class="card">
<h3><%= budget.name %></h3>
<p>Department: <%= budget.department %></p>
<p>State: <%= budget.state %></p>
<a href="/budget/<%= budget._id %>"><button>View</button></a>
</div>
<% }) %>
</div>
<%- include('partials/footer') %>
